.level2-container {
    background-image: url('../../assets/backgrounds/pink.jpg'); 
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-img {
    width: 45px;
    margin: 0px 10px;
}

.image-box-2 {
    width: 695px;
    height: 240px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.left-box, .middle-box, .right-box {
    width: 280px;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.left-box {
    justify-content: center;
}

.middle-box {
    justify-content: center;
}

.round-dot-1, .round-dot-2, .round-dot-3 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -50%;
    background-color: transparent;
    border: 3px dotted white;
    margin-left: -22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-area {
    width: 50px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    position: absolute;
    right: 2%;
    top: 11%;
}

.dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    cursor: grab;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.ok-btn {
    margin-top: 30px;
    margin-bottom: -10px;
    width: 110px;
    height: 50px;
    border-radius: 8px;
    background-color: pink;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    border: 2px solid white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.ok-btn:active {
    transform: translateY(2px);
}

.outer-box-level2 {
    width: 930px;
    height: 520px;
    border-radius: 10px;
    background-color: rgb(236, 195, 201);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
